<div class="jumbotron" style="position:relative; box-sizing:border-box; margin:0px; padding-top: 80px; background-color:#1BB5B0; color: white; height:250px">
    <h1 style = "text-align:center;">Reporte de un nuevo perro</h1>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <%= render 'form' %>
	<%= link_to 'Back', root_path %>
  </div>
</div>